*
!.gitignore

# DOCUMENTATION
!*.md
PLAN*.md

# TOOLS
!scripts/
!.clippy.toml
!.rustfmt.toml
!justfile


# BUILD SYSTEMS
!.github/
!ci/

# SOURCE
!src/
!resources/

# RS
!.cargo/
!Cargo.lock
!Cargo.toml
