*
!.gitignore

# DIRECTORIES
!**/

# TYCMD SIDECARS
!tycmd/macos/tycmd
!tycmd/macos/x86_64/tycmd
!tycmd/linux/tycmd
!tycmd/linux/x86_64/tycmd
!tycmd/linux/aarch64/tycmd
!tycmd/linux/i686/tycmd
!tycmd/windows/tycmd.exe
!tycmd/windows/x86_64/tycmd.exe
